{%extends 'base.html'%} {% load static %}
<!-- content -->
{% block content %} {{block.super}}
<div class="card text-center">
    <div class="card-img-overlay">
        <h1 class="card-title text-center">User profile</h1>
        <p class="card-text">Profile form coming soon...</p>
        <p>{{user_data.email}}</p>
        {% if user_profile.photo %}
        <img src=" {{ user_profile.photo.url }} " alt=""> {% endif %}
        <p>{{user_profile.phone}}</p>
        <p>{{user_profile.bio}}</p>



        <a href="{% url 'edit_profile' %}">Edit Profile</a>
    </div>
</div>
{% endblock %}